<a href="/" alt="home" flex column>
  <img
    src="assets/soras_logo6.svg"
    alt="logo"
    class="main-logo"
    loading="lazy"
    hide="mobile"
  />
  <img
    src="assets/soras_logo_small.svg"
    alt="logo"
    class="main-logo"
    loading="lazy"
    hide="wide"
  />
</a>
<ul column list='none' text='right'>
  {% for contact in site.contacts %}
  <li>
    {% if contact.link != "" %}
    <a
      href="{{ contact.link }}"
      alt="{{ contact.description }}"
      title="{{ contact.description }}"
    >
      <span icon="{{contact.icon}}"></span>
      <span description> {{ contact.description }}: </span>  
      <span linktitle> {{ contact.name }} </span>  
    </a>
    {% else %}
    <span
      title="{{ contact.description }}"
    >
      <span icon="{{contact.icon}}"></span>
      <span description> {{ contact.description }}: </span>  
      <span linktitle> {{ contact.name }} </span>  
    </span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
