[font] {
    font-family: Pxa, sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'Pxa';
    src: url('assets/pxa_2.woff2') format('woff2'),
        url('assets/pxa_2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
	font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
	letter-spacing:+0.5px;
  color: #636363;
}
[wrapper] p {
  // text-indent: 3rem;
  margin: 0.6rem 0;
  // margin: 0;
}
[wrapper] ul {
  margin: 0;
  padding: 0;
}
[content] ul{
  margin-left: 2rem;
}

[wrapper]{
  max-width: 70rem;
  margin: 0 auto;
}
[flex] {
  display: flex;
  flex-direction: column;
}
[column] {
  flex: 1 1 10rem;
}
[row] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
[center='right']{
  justify-content: flex-end;
}
[center='both'] {
  align-content: center;
  justify-content: center;
  align-items: center;
}
[list='none'] {
  list-style: none;
  padding: inherit;
}
[text='right']{
  text-align: right;
}
[text='center']{
  text-align: center;
}

[relative] {
  position: relative;
}
[absolute] {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
}

[position]>span {
  position: absolute;
  z-index: 5;
  padding: 1rem;
  background-color: #ffffffb0;
  color: black;
  border: 1px solid white;
  min-width: 7rem;
  text-align: center;
}

[position="topright"]>span {
  top: 0;
  right: 0;
}
[position="topleft"]>span {
  top: 0;
  left: 0;
}

[position="bottomright"]>span {
  bottom: 0;
  right: 0;
}
[blockymenu] li {
  padding: 3rem 2rem;
  margin: 0.5rem;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}
[blockymenu] li::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border: solid 3px;
}
[shade="red"]{
  background-color: #e31e24;
  color: #fff;
}
[shade="gray"]{
  background-color: #5b5b5b;
  color: #fff;
}
[shade]>a{
  text-decoration: none;
  color:inherit;
}
[width="100%"]{
  width: 100%;
}

[column]>img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
img.main-logo {
  max-height: 4rem;
  object-fit: contain;
  object-position: left;
}


[menu] {
  background-color:#a52a2ab8;
}


[hide='wide'] {
  display: none;
}

[hide='mobile'] {
  display: inherit;
}


@media (max-width: 42rem){ 
  [column] {
    flex: 1 1 50%;
  }
  [wrapper]{
    padding: 1rem;
  }
  [row][logo]{
    flex-direction: column;
  }
  [logo] [text='right'] {
    text-align: inherit;
    margin: 2rem 0;
  }


[hide='mobile'] {
  display: none;
}
[hide='wide'] {
  display: inherit;
}


}

@media (max-width: 23rem){ 
  [column][position]>img {
    display: none;
  }

[position]>span {
  position: relative;
  z-index: inherit;
  padding: inherit;
  display: none;
}



}